
@{
    ViewBag.Title = "Koltuk Seçiniz";
}
<div align="center"><div id="stage_label">STAGE</div></div>
<div id="sp1" class="seatplan">
    <ul class="r ">
        <li class="ltr">A</li>
        <li class="h"></li>
        <li class="s gr" id="s3" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s4" data-rel="20.0000" title="">19</li>
        <li class="ye x" id="s5" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s6" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s7" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s8" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s9" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s10" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s11" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s12" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s13" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s14" data-rel="20.0000" title="">9</li>
        <li class="ye x" id="s15" data-rel="20.0000" title="">8</li>
        <li class="ye x" id="s16" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s17" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s18" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s19" data-rel="20.0000" title="">4</li>
        <li class="ye x" id="s20" data-rel="20.0000" title="">3</li>
        <li class="ye x" id="s21" data-rel="20.0000" title="">2</li>
        <li class="s gr" id="s22" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">A</li>
    </ul>
    <ul class="r ">
        <li class="ltr">B</li>
        <li class="h"></li>
        <li class="ye x" id="s27" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s28" data-rel="20.0000" title="">19</li>
        <li class="ye x" id="s29" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s30" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s31" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s32" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s33" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s34" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s35" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s36" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s37" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s38" data-rel="20.0000" title="">9</li>
        <li class="ye x" id="s39" data-rel="20.0000" title="">8</li>
        <li class="ye x" id="s40" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s41" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s42" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s43" data-rel="20.0000" title="">4</li>
        <li class="ye x" id="s44" data-rel="20.0000" title="">3</li>
        <li class="ye x" id="s45" data-rel="20.0000" title="">2</li>
        <li class="ye x" id="s46" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">B</li>
    </ul>
    <ul class="r ">
        <li class="ltr">C</li>
        <li class="h"></li>
        <li class="s ye" id="s51" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s52" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s53" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s54" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s55" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s56" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s57" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s58" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s59" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s60" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s61" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s62" data-rel="20.0000" title="">9</li>
        <li class="ye x" id="s63" data-rel="20.0000" title="">8</li>
        <li class="ye x" id="s64" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s65" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s66" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s67" data-rel="20.0000" title="">4</li>
        <li class="ye x" id="s68" data-rel="20.0000" title="">3</li>
        <li class="ye x" id="s69" data-rel="20.0000" title="">2</li>
        <li class="ye x" id="s70" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">C</li>
    </ul>
    <ul class="r ">
        <li class="ltr">D</li>
        <li class="h"></li>
        <li class="ye x" id="s75" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s76" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s77" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s78" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s79" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s80" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s81" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s82" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s83" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s84" data-rel="20.0000" title="">11</li>
        <li class="s ye" id="s85" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s86" data-rel="20.0000" title="">9</li>
        <li class="ye x" id="s87" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s88" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s89" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s90" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s91" data-rel="20.0000" title="">4</li>
        <li class="ye x" id="s92" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s93" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s94" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">D</li>
    </ul>
    <ul class="r ">
        <li class="ltr">E</li>
        <li class="h"></li>
        <li class="s ye" id="s99" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s100" data-rel="20.0000" title="">19</li>
        <li class="ye x" id="s101" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s102" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s103" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s104" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s105" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s106" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s107" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s108" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s109" data-rel="20.0000" title="">10</li>
        <li class="s ye" id="s110" data-rel="20.0000" title="">9</li>
        <li class="ye x" id="s111" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s112" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s113" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s114" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s115" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s116" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s117" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s118" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">E</li>
    </ul>
    <ul class="r ">
        <li class="ltr">F</li>
        <li class="h"></li>
        <li class="s ye" id="s123" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s124" data-rel="20.0000" title="">19</li>
        <li class="ye x" id="s125" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s126" data-rel="20.0000" title="">17</li>
        <li class="s ye" id="s127" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s128" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s129" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s130" data-rel="20.0000" title="">13</li>
        <li class="s ye" id="s131" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s132" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s133" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s134" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s135" data-rel="20.0000" title="">8</li>
        <li class="ye x" id="s136" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s137" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s138" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s139" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s140" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s141" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s142" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">F</li>
    </ul>
    <ul class="r ">
        <li class="ltr">G</li>
        <li class="h"></li>
        <li class="ye x" id="s147" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s148" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s149" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s150" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s151" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s152" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s153" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s154" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s155" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s156" data-rel="20.0000" title="">11</li>
        <li class="s ye" id="s157" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s158" data-rel="20.0000" title="">9</li>
        <li class="ye x" id="s159" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s160" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s161" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s162" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s163" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s164" data-rel="20.0000" title="">3</li>
        <li class="ye x" id="s165" data-rel="20.0000" title="">2</li>
        <li class="ye x" id="s166" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">G</li>
    </ul>
    <ul class="r ">
        <li class="ltr">H</li>
        <li class="h"></li>
        <li class="ye x" id="s171" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s172" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s173" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s174" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s175" data-rel="20.0000" title="">16</li>
        <li class="s ye" id="s176" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s177" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s178" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s179" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s180" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s181" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s182" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s183" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s184" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s185" data-rel="20.0000" title="">6</li>
        <li class="s ye" id="s186" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s187" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s188" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s189" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s190" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">H</li>
    </ul>
    <ul class="r ">
        <li class="ltr">I</li>
        <li class="h"></li>
        <li class="s ye" id="s195" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s196" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s197" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s198" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s199" data-rel="20.0000" title="">16</li>
        <li class="s ye" id="s200" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s201" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s202" data-rel="20.0000" title="">13</li>
        <li class="s ye" id="s203" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s204" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s205" data-rel="20.0000" title="">10</li>
        <li class="s ye" id="s206" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s207" data-rel="20.0000" title="">8</li>
        <li class="ye x" id="s208" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s209" data-rel="20.0000" title="">6</li>
        <li class="s ye" id="s210" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s211" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s212" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s213" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s214" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">I</li>
    </ul>
    <ul class="r ">
        <li class="ltr">J</li>
        <li class="h"></li>
        <li class="ye x" id="s219" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s220" data-rel="20.0000" title="">19</li>
        <li class="ye x" id="s221" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s222" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s223" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s224" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s225" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s226" data-rel="20.0000" title="">13</li>
        <li class="s ye" id="s227" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s228" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s229" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s230" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s231" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s232" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s233" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s234" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s235" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s236" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s237" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s238" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">J</li>
    </ul>
    <ul class="r ">
        <li class="ltr">K</li>
        <li class="h"></li>
        <li class="s ye" id="s243" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s244" data-rel="20.0000" title="">19</li>
        <li class="ye x" id="s245" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s246" data-rel="20.0000" title="">17</li>
        <li class="s ye" id="s247" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s248" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s249" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s250" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s251" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s252" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s253" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s254" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s255" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s256" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s257" data-rel="20.0000" title="">6</li>
        <li class="s ye" id="s258" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s259" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s260" data-rel="20.0000" title="">3</li>
        <li class="ye x" id="s261" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s262" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">K</li>
    </ul>
    <ul class="r ">
        <li class="ltr">L</li>
        <li class="h"></li>
        <li class="s ye" id="s267" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s268" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s269" data-rel="20.0000" title="">18</li>
        <li class="ye x" id="s270" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s271" data-rel="20.0000" title="">16</li>
        <li class="s ye" id="s272" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s273" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s274" data-rel="20.0000" title="">13</li>
        <li class="s ye" id="s275" data-rel="20.0000" title="">12</li>
        <li class="s ye" id="s276" data-rel="20.0000" title="">11</li>
        <li class="s ye" id="s277" data-rel="20.0000" title="">10</li>
        <li class="s ye" id="s278" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s279" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s280" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s281" data-rel="20.0000" title="">6</li>
        <li class="s ye" id="s282" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s283" data-rel="20.0000" title="">4</li>
        <li class="ye x" id="s284" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s285" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s286" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">L</li>
    </ul>
    <ul class="r ">
        <li class="ltr">M</li>
        <li class="h"></li>
        <li class="s ye" id="s291" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s292" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s293" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s294" data-rel="20.0000" title="">17</li>
        <li class="s ye" id="s295" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s296" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s297" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s298" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s299" data-rel="20.0000" title="">12</li>
        <li class="s ye" id="s300" data-rel="20.0000" title="">11</li>
        <li class="s ye" id="s301" data-rel="20.0000" title="">10</li>
        <li class="s ye" id="s302" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s303" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s304" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s305" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s306" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s307" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s308" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s309" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s310" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">M</li>
    </ul>
    <ul class="r ">
        <li class="ltr">N</li>
        <li class="h"></li>
        <li class="s ye" id="s315" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s316" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s317" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s318" data-rel="20.0000" title="">17</li>
        <li class="s ye" id="s319" data-rel="20.0000" title="">16</li>
        <li class="s ye" id="s320" data-rel="20.0000" title="">15</li>
        <li class="ye x" id="s321" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s322" data-rel="20.0000" title="">13</li>
        <li class="s ye" id="s323" data-rel="20.0000" title="">12</li>
        <li class="s ye" id="s324" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s325" data-rel="20.0000" title="">10</li>
        <li class="s ye" id="s326" data-rel="20.0000" title="">9</li>
        <li class="ye x" id="s327" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s328" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s329" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s330" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s331" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s332" data-rel="20.0000" title="">3</li>
        <li class="ye x" id="s333" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s334" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">N</li>
    </ul>
    <ul class="r ">
        <li class="ltr">O</li>
        <li class="h"></li>
        <li class="s ye" id="s339" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s340" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s341" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s342" data-rel="20.0000" title="">17</li>
        <li class="s ye" id="s343" data-rel="20.0000" title="">16</li>
        <li class="s ye" id="s344" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s345" data-rel="20.0000" title="">14</li>
        <li class="ye x" id="s346" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s347" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s348" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s349" data-rel="20.0000" title="">10</li>
        <li class="s ye" id="s350" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s351" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s352" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s353" data-rel="20.0000" title="">6</li>
        <li class="s ye" id="s354" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s355" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s356" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s357" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s358" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">O</li>
    </ul>
    <ul class="r ">
        <li class="ltr">P</li>
        <li class="h"></li>
        <li class="s ye" id="s363" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s364" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s365" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s366" data-rel="20.0000" title="">17</li>
        <li class="s ye" id="s367" data-rel="20.0000" title="">16</li>
        <li class="s ye" id="s368" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s369" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s370" data-rel="20.0000" title="">13</li>
        <li class="s ye" id="s371" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s372" data-rel="20.0000" title="">11</li>
        <li class="s ye" id="s373" data-rel="20.0000" title="">10</li>
        <li class="s ye" id="s374" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s375" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s376" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s377" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s378" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s379" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s380" data-rel="20.0000" title="">3</li>
        <li class="ye x" id="s381" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s382" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">P</li>
    </ul>
    <ul class="r ">
        <li class="ltr">Q</li>
        <li class="h"></li>
        <li class="s ye" id="s387" data-rel="20.0000" title="">20</li>
        <li class="s ye" id="s388" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s389" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s390" data-rel="20.0000" title="">17</li>
        <li class="ye x" id="s391" data-rel="20.0000" title="">16</li>
        <li class="s ye" id="s392" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s393" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s394" data-rel="20.0000" title="">13</li>
        <li class="ye x" id="s395" data-rel="20.0000" title="">12</li>
        <li class="ye x" id="s396" data-rel="20.0000" title="">11</li>
        <li class="ye x" id="s397" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s398" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s399" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s400" data-rel="20.0000" title="">7</li>
        <li class="s ye" id="s401" data-rel="20.0000" title="">6</li>
        <li class="s ye" id="s402" data-rel="20.0000" title="">5</li>
        <li class="s ye" id="s403" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s404" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s405" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s406" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">Q</li>
    </ul>
    <ul style="height:75px" class="r ">
        <li class="ltr">R</li>
        <li class="h"></li>
        <li class="s ye" id="s411" data-rel="20.0000" title="">20</li>
        <li class="ye x" id="s412" data-rel="20.0000" title="">19</li>
        <li class="s ye" id="s413" data-rel="20.0000" title="">18</li>
        <li class="s ye" id="s414" data-rel="20.0000" title="">17</li>
        <li class="s ye" id="s415" data-rel="20.0000" title="">16</li>
        <li class="ye x" id="s416" data-rel="20.0000" title="">15</li>
        <li class="s ye" id="s417" data-rel="20.0000" title="">14</li>
        <li class="s ye" id="s418" data-rel="20.0000" title="">13</li>
        <li class="s ye" id="s419" data-rel="20.0000" title="">12</li>
        <li class="s ye" id="s420" data-rel="20.0000" title="">11</li>
        <li class="s ye" id="s421" data-rel="20.0000" title="">10</li>
        <li class="ye x" id="s422" data-rel="20.0000" title="">9</li>
        <li class="s ye" id="s423" data-rel="20.0000" title="">8</li>
        <li class="s ye" id="s424" data-rel="20.0000" title="">7</li>
        <li class="ye x" id="s425" data-rel="20.0000" title="">6</li>
        <li class="ye x" id="s426" data-rel="20.0000" title="">5</li>
        <li class="ye x" id="s427" data-rel="20.0000" title="">4</li>
        <li class="s ye" id="s428" data-rel="20.0000" title="">3</li>
        <li class="s ye" id="s429" data-rel="20.0000" title="">2</li>
        <li class="s ye" id="s430" data-rel="20.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">R</li>
    </ul>
    <ul class="r ">
        <li class="ltr">A</li>
        <li class="bl x" id="s434" data-rel="15.0000" title="">21</li>
        <li class="bl x" id="s435" data-rel="15.0000" title="">20</li>
        <li class="bl x" id="s436" data-rel="15.0000" title="">19</li>
        <li class="bl x" id="s437" data-rel="15.0000" title="">18</li>
        <li class="bl x" id="s438" data-rel="15.0000" title="">17</li>
        <li class="s bl" id="s439" data-rel="15.0000" title="">16</li>
        <li class="s bl" id="s440" data-rel="15.0000" title="">15</li>
        <li class="s bl" id="s441" data-rel="15.0000" title="">14</li>
        <li class="s bl" id="s442" data-rel="15.0000" title="">13</li>
        <li class="s bl" id="s443" data-rel="15.0000" title="">12</li>
        <li class="s bl" id="s444" data-rel="15.0000" title="">11</li>
        <li class="bl x" id="s445" data-rel="15.0000" title="">10</li>
        <li class="bl x" id="s446" data-rel="15.0000" title="">9</li>
        <li class="s bl" id="s447" data-rel="15.0000" title="">8</li>
        <li class="s bl" id="s448" data-rel="15.0000" title="">7</li>
        <li class="s bl" id="s449" data-rel="15.0000" title="">6</li>
        <li class="s bl" id="s450" data-rel="15.0000" title="">5</li>
        <li class="s bl" id="s451" data-rel="15.0000" title="">4</li>
        <li class="s bl" id="s452" data-rel="15.0000" title="">3</li>
        <li class="s bl" id="s453" data-rel="15.0000" title="">2</li>
        <li class="s bl" id="s454" data-rel="15.0000" title="">1</li>
        <li class="ltr">A</li>
    </ul>
    <ul class="r ">
        <li class="ltr">B</li>
        <li class="s bl" id="s457" data-rel="15.0000" title="">21</li>
        <li class="s bl" id="s458" data-rel="15.0000" title="">20</li>
        <li class="s bl" id="s459" data-rel="15.0000" title="">19</li>
        <li class="s bl" id="s460" data-rel="15.0000" title="">18</li>
        <li class="s bl" id="s461" data-rel="15.0000" title="">17</li>
        <li class="bl x" id="s462" data-rel="15.0000" title="">16</li>
        <li class="bl x" id="s463" data-rel="15.0000" title="">15</li>
        <li class="bl x" id="s464" data-rel="15.0000" title="">14</li>
        <li class="s bl" id="s465" data-rel="15.0000" title="">13</li>
        <li class="s bl" id="s466" data-rel="15.0000" title="">12</li>
        <li class="s bl" id="s467" data-rel="15.0000" title="">11</li>
        <li class="s bl" id="s468" data-rel="15.0000" title="">10</li>
        <li class="s bl" id="s469" data-rel="15.0000" title="">9</li>
        <li class="s bl" id="s470" data-rel="15.0000" title="">8</li>
        <li class="s bl" id="s471" data-rel="15.0000" title="">7</li>
        <li class="s bl" id="s472" data-rel="15.0000" title="">6</li>
        <li class="s bl" id="s473" data-rel="15.0000" title="">5</li>
        <li class="s bl" id="s474" data-rel="15.0000" title="">4</li>
        <li class="s bl" id="s475" data-rel="15.0000" title="">3</li>
        <li class="s bl" id="s476" data-rel="15.0000" title="">2</li>
        <li class="s bl" id="s477" data-rel="15.0000" title="">1</li>
        <li class="ltr">B</li>
    </ul>
    <ul class="r ">
        <li class="ltr">C</li>
        <li class="b"></li>
        <li class="b"></li>
        <li class="s bl" id="s482" data-rel="15.0000" title="">17</li>
        <li class="s bl" id="s483" data-rel="15.0000" title="">16</li>
        <li class="s bl" id="s484" data-rel="15.0000" title="">15</li>
        <li class="s bl" id="s485" data-rel="15.0000" title="">14</li>
        <li class="s bl" id="s486" data-rel="15.0000" title="">13</li>
        <li class="s bl" id="s487" data-rel="15.0000" title="">12</li>
        <li class="s bl" id="s488" data-rel="15.0000" title="">11</li>
        <li class="s bl" id="s489" data-rel="15.0000" title="">10</li>
        <li class="s bl" id="s490" data-rel="15.0000" title="">9</li>
        <li class="s bl" id="s491" data-rel="15.0000" title="">8</li>
        <li class="s bl" id="s492" data-rel="15.0000" title="">7</li>
        <li class="bl x" id="s493" data-rel="15.0000" title="">6</li>
        <li class="s bl" id="s494" data-rel="15.0000" title="">5</li>
        <li class="s bl" id="s495" data-rel="15.0000" title="">4</li>
        <li class="s bl" id="s496" data-rel="15.0000" title="">3</li>
        <li class="s bl" id="s497" data-rel="15.0000" title="">2</li>
        <li class="s bl" id="s498" data-rel="15.0000" title="">1</li>
        <li class="b"></li>
        <li class="b"></li>
        <li class="ltr">C</li>
    </ul>
    <ul class="r ">
        <li class="ltr">D</li>
        <li class="b"></li>
        <li class="b"></li>
        <li class="bl x" id="s505" data-rel="15.0000" title="">17</li>
        <li class="bl x" id="s506" data-rel="15.0000" title="">16</li>
        <li class="bl x" id="s507" data-rel="15.0000" title="">15</li>
        <li class="bl x" id="s508" data-rel="15.0000" title="">14</li>
        <li class="bl x" id="s509" data-rel="15.0000" title="">13</li>
        <li class="bl x" id="s510" data-rel="15.0000" title="">12</li>
        <li class="s bl" id="s511" data-rel="15.0000" title="">11</li>
        <li class="s bl" id="s512" data-rel="15.0000" title="">10</li>
        <li class="s bl" id="s513" data-rel="15.0000" title="">9</li>
        <li class="s bl" id="s514" data-rel="15.0000" title="">8</li>
        <li class="s bl" id="s515" data-rel="15.0000" title="">7</li>
        <li class="s bl" id="s516" data-rel="15.0000" title="">6</li>
        <li class="s bl" id="s517" data-rel="15.0000" title="">5</li>
        <li class="s bl" id="s518" data-rel="15.0000" title="">4</li>
        <li class="s bl" id="s519" data-rel="15.0000" title="">3</li>
        <li class="s bl" id="s520" data-rel="15.0000" title="">2</li>
        <li class="s bl" id="s521" data-rel="15.0000" title="">1</li>
        <li class="b"></li>
        <li class="b"></li>
        <li class="ltr">D</li>
    </ul>
    <ul class="r ">
        <li class="ltr">E</li>
        <li class="b"></li>
        <li class="b"></li>
        <li class="s bl" id="s528" data-rel="15.0000" title="">17</li>
        <li class="s bl" id="s529" data-rel="15.0000" title="">16</li>
        <li class="s bl" id="s530" data-rel="15.0000" title="">15</li>
        <li class="s bl" id="s531" data-rel="15.0000" title="">14</li>
        <li class="s bl" id="s532" data-rel="15.0000" title="">13</li>
        <li class="s bl" id="s533" data-rel="15.0000" title="">12</li>
        <li class="s bl" id="s534" data-rel="15.0000" title="">11</li>
        <li class="s bl" id="s535" data-rel="15.0000" title="">10</li>
        <li class="s bl" id="s536" data-rel="15.0000" title="">9</li>
        <li class="s bl" id="s537" data-rel="15.0000" title="">8</li>
        <li class="s bl" id="s538" data-rel="15.0000" title="">7</li>
        <li class="s bl" id="s539" data-rel="15.0000" title="">6</li>
        <li class="s bl" id="s540" data-rel="15.0000" title="">5</li>
        <li class="s bl" id="s541" data-rel="15.0000" title="">4</li>
        <li class="s bl" id="s542" data-rel="15.0000" title="">3</li>
        <li class="s bl" id="s543" data-rel="15.0000" title="">2</li>
        <li class="s bl" id="s544" data-rel="15.0000" title="">1</li>
        <li class="b"></li>
        <li class="b"></li>
        <li class="ltr">E</li>
    </ul>
    <ul class="r ">
        <li class="ltr">F</li>
        <li class="h"></li>
        <li class="s bl" id="s550" data-rel="15.0000" title="">20</li>
        <li class="s bl" id="s551" data-rel="15.0000" title="">19</li>
        <li class="s bl" id="s552" data-rel="15.0000" title="">18</li>
        <li class="s bl" id="s553" data-rel="15.0000" title="">17</li>
        <li class="s bl" id="s554" data-rel="15.0000" title="">16</li>
        <li class="s bl" id="s555" data-rel="15.0000" title="">15</li>
        <li class="s bl" id="s556" data-rel="15.0000" title="">14</li>
        <li class="s bl" id="s557" data-rel="15.0000" title="">13</li>
        <li class="s bl" id="s558" data-rel="15.0000" title="">12</li>
        <li class="bl x" id="s559" data-rel="15.0000" title="">11</li>
        <li class="s bl" id="s560" data-rel="15.0000" title="">10</li>
        <li class="s bl" id="s561" data-rel="15.0000" title="">9</li>
        <li class="s bl" id="s562" data-rel="15.0000" title="">8</li>
        <li class="s bl" id="s563" data-rel="15.0000" title="">7</li>
        <li class="s bl" id="s564" data-rel="15.0000" title="">6</li>
        <li class="s bl" id="s565" data-rel="15.0000" title="">5</li>
        <li class="s bl" id="s566" data-rel="15.0000" title="">4</li>
        <li class="s bl" id="s567" data-rel="15.0000" title="">3</li>
        <li class="s bl" id="s568" data-rel="15.0000" title="">2</li>
        <li class="s bl" id="s569" data-rel="15.0000" title="">1</li>
        <li class="h"></li>
        <li class="ltr">F</li>
    </ul>
</div>
<div class="text-center">
    <h2>Block Seçiniz</h2>
    <img name="venue" class="img-responsive center-margin" src="~/Content/venue.png" width="600" height="620" border="0" id="venue" usemap="#m_venue" alt="" />
    <map name="m_venue" id="m_venue">
        <area shape="rect" coords="394,570,453,604" href="/SelectBlock/SelectSeat15" title="Loca 15" alt="Loca 15" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="347,570,394,604" href="/SelectBlock/SelectSeat14" title="Loca 14" alt="Loca 14" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="300,570,347,604" href="/SelectBlock/SelectSeat13" title="Loca 13" alt="Loca 13" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="254,570,300,604" href="/SelectBlock/SelectSeat12" title="Loca 12" alt="Loca 12" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="207,570,254,604" href="/SelectBlock/SelectSeat11" title="Loca 11" alt="Loca 11" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="148,570,207,604" href="/SelectBlock/SelectSeat10" title="Loca 10" alt="Loca 10" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="568,531,562,523,555,516,545,508,506,547,513,556,516,559,519,562,524,567,529,570,568,531" href="/SelectBlock/SelectSeat16" title="Loca 16" alt="Loca 16" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="33,530,39,523,47,516,57,508,96,546,89,555,86,559,83,562,78,566,73,570,33,530" href="/SelectBlock/SelectSeat9" title="Loca 9" alt="Loca 9" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="254,293,342,420" href="/SelectBlock/SelectSeat005" title="Saha İçi 005" alt="Saha İçi 005" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="342,293,426,448" href="/SelectBlock/SelectSeat006" title="Saha İçi 006" alt="Saha İçi 006" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="168,293,254,448" href="/SelectBlock/SelectSeat004" title="Saha İçi 004" alt="Saha İçi 004" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="342,161,426,293" href="/SelectBlock/SelectSeat003" title="Saha İçi 003" alt="Saha İçi 003" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="254,161,342,293" href="/SelectBlock/SelectSeat002" title="Saha İçi 002" alt="Saha İçi 002" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="168,161,254,293" href="/SelectBlock/SelectSeat001" title="Saha İçi 001" alt="Saha İçi 001" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="427,462,452,533,447,534,448,541,442,543,434,544,354,545,354,538,345,538,345,463,427,462" href="/SelectBlock/SelectSeat210" title="Premium Tribün 210" alt="Premium Tribün 210" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="250,462,344,463,344,538,327,538,327,544,273,545,273,538,251,538,250,462" href="/SelectBlock/SelectSeat209" title="Premium Tribün 209" alt="Premium Tribün 209" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="171,461,173,462,176,463,249,463,250,538,247,538,247,544,241,545,169,545,166,544,161,543,155,542,151,541,152,535,146,532,171,461" href="/SelectBlock/SelectSeat208" title="Premium Tribün 208" alt="Premium Tribün 208" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="446,444,518,469,517,473,516,475,522,478,518,487,514,495,508,502,504,508,499,513,494,517,489,521,483,525,478,529,472,532,468,534,465,536,461,530,458,531,454,532,427,461,432,460,436,458,439,456,441,453,443,451,444,448,446,444" href="/SelectBlock/SelectSeat211" title="Premium Tribün 211" alt="Premium Tribün 211" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="446,444,518,468,520,463,522,457,529,457,531,451,531,384,447,384,448,436,448,438,447,441,446,444" href="/SelectBlock/SelectSeat212" title="Güney Tribün 212" alt="Güney Tribün 212" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,314,531,384" href="/SelectBlock/SelectSeat213" title="Güney Tribün 213" alt="Güney Tribün 213" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,244,531,314" href="/SelectBlock/SelectSeat214" title="Güney Tribün 214" alt="Güney Tribün 214" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,173,531,244" href="/SelectBlock/SelectSeat215" title="Güney Tribün 215" alt="Güney Tribün 215" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,104,531,173" href="/SelectBlock/SelectSeat216" title="Güney Tribün 216" alt="Güney Tribün 216" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="474,86,516,88,525,90,530,91,530,100,525,100,525,103,447,103,447,66,470,66,474,86" href="/SelectBlock/SelectSeat217" title="Güney Tribün 217" alt="Güney Tribün 217" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="81,465,153,442,155,447,158,451,161,454,164,457,166,459,168,460,170,461,144,532,141,531,137,536,130,534,122,530,114,524,106,518,100,512,93,505,89,499,84,492,82,488,79,483,77,478,82,476,83,475,81,465" href="/SelectBlock/SelectSeat207" title="Premium Tribün 207" alt="Premium Tribün 207" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,448,69,447,69,395,75,395,76,380,153,380,153,441,80,464,76,448" href="/SelectBlock/SelectSeat206" title="Kuzey Tribün 206" alt="Kuzey Tribün 206" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,369,69,369,68,325,76,325,76,311,153,311,153,379,75,378,76,369" href="/SelectBlock/SelectSeat205" title="Kuzey Tribün 205" alt="Kuzey Tribün 205" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,299,69,299,69,256,76,256,76,240,153,239,153,309,76,309,76,299" href="/SelectBlock/SelectSeat204" title="Kuzey Tribün 204" alt="Kuzey Tribün 204" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,229,69,228,68,186,75,185,76,170,152,170,153,238,76,239,76,229" href="/SelectBlock/SelectSeat203" title="Kuzey Tribün 203" alt="Kuzey Tribün 203" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,101,153,101,153,168,76,168,76,158,69,158,68,115,75,115,76,101" href="/SelectBlock/SelectSeat202" title="Kuzey Tribün 202" alt="Kuzey Tribün 202" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="75,100,152,100,152,66,130,67,127,85,75,89,75,100" href="/SelectBlock/SelectSeat201" title="Kuzey Tribün 201" alt="Kuzey Tribün 201" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,415,580,462" href="/SelectBlock/SelectSeat17" title="Loca 17" alt="Loca 17" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,368,580,415" href="/SelectBlock/SelectSeat18" title="Loca 18" alt="Loca 18" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,321,580,368" href="/SelectBlock/SelectSeat19" title="Loca 19" alt="Loca 19" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,275,580,321" href="/SelectBlock/SelectSeat20" title="Loca 20" alt="Loca 20" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,228,580,275" href="/SelectBlock/SelectSeat21" title="Loca 21" alt="Loca 21" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,181,580,228" href="/SelectBlock/SelectSeat22" title="Loca 22" alt="Loca 22" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,134,580,181" href="/SelectBlock/SelectSeat23" title="Loca 23" alt="Loca 23" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,87,580,134" href="/SelectBlock/SelectSeat24" title="Loca 24" alt="Loca 24" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,415,54,462" href="/SelectBlock/SelectSeat8" title="Loca 8" alt="Loca 8" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,368,54,415" href="/SelectBlock/SelectSeat7" title="Loca 7" alt="Loca 7" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,321,54,368" href="/SelectBlock/SelectSeat6" title="Loca 6" alt="Loca 6" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,275,54,321" href="/SelectBlock/SelectSeat5" title="Loca 5" alt="Loca 5" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,228,54,275" href="/SelectBlock/SelectSeat4" title="Loca 4" alt="Loca 4" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,181,54,228" href="/SelectBlock/SelectSeat3" title="Loca 3" alt="Loca 3" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,134,54,181" href="/SelectBlock/SelectSeat2" title="Loca 2" alt="Loca 2" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,87,54,134" href="/SelectBlock/SelectSeat1" title="Loca 1" alt="Loca 1" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
    </map>
</div>
@section Scripts{
    <script src="~/Scripts/jquery.maphilight.min.js"></script>
    <script src="~/Scripts/easyTooltip.js"></script>
    <script src="~/Scripts/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#venue').maphilight({ strokeColor: 'f08b14', fillOpacity: '0.3' });
            $('map > area').easyTooltip();
            $('img[usemap]').rwdImageMaps();
        });

    </script>
}