
@{
    ViewBag.Title = "Koltuk Seçiniz";
}
<div align="center"><div id="stage_label">STAGE</div></div>
<div id="sp1" class="seatplan">
    <ul class="r">
        <li class="ltr">A</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">A</li>
    </ul>
    <ul class="r">
        <li class="ltr">B</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">B</li>
    </ul>
    <ul class="r">
        <li class="ltr">C</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">C</li>
    </ul>
    <ul class="r">
        <li class="ltr">D</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">D</li>
    </ul>
    <ul class="r">
        <li class="ltr">E</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">E</li>
    </ul>
    <ul class="r">
        <li class="ltr">F</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">F</li>
    </ul>
    <ul class="r">
        <li class="ltr">G</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">G</li>
    </ul>
    <ul class="r">
        <li class="ltr">H</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">H</li>
    </ul>
    <ul class="r">
        <li class="ltr">J</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">J</li>
    </ul>
    <ul class="r">
        <li class="ltr">K</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">K</li>
    </ul>
    <ul class="r">
        <li class="ltr">L</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">L</li>
    </ul>
    <ul class="r">
        <li class="ltr">M</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">M</li>
    </ul>
    <ul class="r">
        <li class="ltr">N</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">N</li>
    </ul>
    <ul class="r">
        <li class="ltr">P</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">P</li>
    </ul>
    <ul class="r">
        <li class="ltr">R</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">R</li>
    </ul>
    <ul class="r">
        <li class="ltr">S</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">S</li>
    </ul>
    <ul class="r">
        <li class="ltr">T</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">T</li>
    </ul>
    <ul class="r">
        <li class="ltr">U</li>
        <li class="h"></li>
        <li class="ye s" id="s3" title="">1</li>
        <li class="ye s" id="s4" title="">2</li>
        <li class="ye s" id="s5" title="">3</li>
        <li class="ye s" id="s6" title="">4</li>
        <li class="ye s" id="s7" title="">5</li>
        <li class="ye s" id="s8" title="">6</li>
        <li class="ye s" id="s9" title="">7</li>
        <li class="ye s" id="s10" title="">8</li>
        <li class="ye s" id="s11" title="">9</li>
        <li class="ye s" id="s12" title="">10</li>
        <li class="ye s" id="s13" title="">11</li>
        <li class="ye s" id="s14" title="">12</li>
        <li class="ye s" id="s15" title="">13</li>
        <li class="ye s" id="s16" title="">14</li>
        <li class="ye s" id="s17" title="">15</li>
        <li class="ye s" id="s18" title="">16</li>
        <li class="ye s" id="s19" title="">17</li>
        <li class="ye s" id="s20" title="">18</li>
        <li class="h"></li>
        <li class="ltr">U</li>
    </ul>
</div>
<div class="text-center">
    <h2>Koltuk Seçiniz</h2>
    <img name="venue" class="img-responsive center-margin" src="~/Content/venue.png" width="600" height="620" border="0" id="venue" usemap="#m_venue" alt="" />
    <map name="m_venue" id="m_venue">
        <area shape="rect" coords="394,570,453,604" href="/SelectBlock/SelectSeat15" title="Loca 15" alt="Loca 15" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="347,570,394,604" href="/SelectBlock/SelectSeat14" title="Loca 14" alt="Loca 14" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="300,570,347,604" href="/SelectBlock/SelectSeat13" title="Loca 13" alt="Loca 13" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="254,570,300,604" href="/SelectBlock/SelectSeat12" title="Loca 12" alt="Loca 12" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="207,570,254,604" href="/SelectBlock/SelectSeat11" title="Loca 11" alt="Loca 11" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="148,570,207,604" href="/SelectBlock/SelectSeat10" title="Loca 10" alt="Loca 10" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="568,531,562,523,555,516,545,508,506,547,513,556,516,559,519,562,524,567,529,570,568,531" href="/SelectBlock/SelectSeat16" title="Loca 16" alt="Loca 16" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="33,530,39,523,47,516,57,508,96,546,89,555,86,559,83,562,78,566,73,570,33,530" href="/SelectBlock/SelectSeat9" title="Loca 9" alt="Loca 9" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="254,293,342,420" href="/SelectBlock/SelectSeat005" title="Saha İçi 005" alt="Saha İçi 005" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="342,293,426,448" href="/SelectBlock/SelectSeat006" title="Saha İçi 006" alt="Saha İçi 006" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="168,293,254,448" href="/SelectBlock/SelectSeat004" title="Saha İçi 004" alt="Saha İçi 004" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="342,161,426,293" href="/SelectBlock/SelectSeat003" title="Saha İçi 003" alt="Saha İçi 003" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="254,161,342,293" href="/SelectBlock/SelectSeat002" title="Saha İçi 002" alt="Saha İçi 002" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="168,161,254,293" href="/SelectBlock/SelectSeat001" title="Saha İçi 001" alt="Saha İçi 001" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="427,462,452,533,447,534,448,541,442,543,434,544,354,545,354,538,345,538,345,463,427,462" href="/SelectBlock/SelectSeat210" title="Premium Tribün 210" alt="Premium Tribün 210" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="250,462,344,463,344,538,327,538,327,544,273,545,273,538,251,538,250,462" href="/SelectBlock/SelectSeat209" title="Premium Tribün 209" alt="Premium Tribün 209" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="171,461,173,462,176,463,249,463,250,538,247,538,247,544,241,545,169,545,166,544,161,543,155,542,151,541,152,535,146,532,171,461" href="/SelectBlock/SelectSeat208" title="Premium Tribün 208" alt="Premium Tribün 208" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="446,444,518,469,517,473,516,475,522,478,518,487,514,495,508,502,504,508,499,513,494,517,489,521,483,525,478,529,472,532,468,534,465,536,461,530,458,531,454,532,427,461,432,460,436,458,439,456,441,453,443,451,444,448,446,444" href="/SelectBlock/SelectSeat211" title="Premium Tribün 211" alt="Premium Tribün 211" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="446,444,518,468,520,463,522,457,529,457,531,451,531,384,447,384,448,436,448,438,447,441,446,444" href="/SelectBlock/SelectSeat212" title="Güney Tribün 212" alt="Güney Tribün 212" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,314,531,384" href="/SelectBlock/SelectSeat213" title="Güney Tribün 213" alt="Güney Tribün 213" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,244,531,314" href="/SelectBlock/SelectSeat214" title="Güney Tribün 214" alt="Güney Tribün 214" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,173,531,244" href="/SelectBlock/SelectSeat215" title="Güney Tribün 215" alt="Güney Tribün 215" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="447,104,531,173" href="/SelectBlock/SelectSeat216" title="Güney Tribün 216" alt="Güney Tribün 216" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="474,86,516,88,525,90,530,91,530,100,525,100,525,103,447,103,447,66,470,66,474,86" href="/SelectBlock/SelectSeat217" title="Güney Tribün 217" alt="Güney Tribün 217" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="81,465,153,442,155,447,158,451,161,454,164,457,166,459,168,460,170,461,144,532,141,531,137,536,130,534,122,530,114,524,106,518,100,512,93,505,89,499,84,492,82,488,79,483,77,478,82,476,83,475,81,465" href="/SelectBlock/SelectSeat207" title="Premium Tribün 207" alt="Premium Tribün 207" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,448,69,447,69,395,75,395,76,380,153,380,153,441,80,464,76,448" href="/SelectBlock/SelectSeat206" title="Kuzey Tribün 206" alt="Kuzey Tribün 206" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,369,69,369,68,325,76,325,76,311,153,311,153,379,75,378,76,369" href="/SelectBlock/SelectSeat205" title="Kuzey Tribün 205" alt="Kuzey Tribün 205" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,299,69,299,69,256,76,256,76,240,153,239,153,309,76,309,76,299" href="/SelectBlock/SelectSeat204" title="Kuzey Tribün 204" alt="Kuzey Tribün 204" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,229,69,228,68,186,75,185,76,170,152,170,153,238,76,239,76,229" href="/SelectBlock/SelectSeat203" title="Kuzey Tribün 203" alt="Kuzey Tribün 203" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="76,101,153,101,153,168,76,168,76,158,69,158,68,115,75,115,76,101" href="/SelectBlock/SelectSeat202" title="Kuzey Tribün 202" alt="Kuzey Tribün 202" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="poly" coords="75,100,152,100,152,66,130,67,127,85,75,89,75,100" href="/SelectBlock/SelectSeat201" title="Kuzey Tribün 201" alt="Kuzey Tribün 201" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,415,580,462" href="/SelectBlock/SelectSeat17" title="Loca 17" alt="Loca 17" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,368,580,415" href="/SelectBlock/SelectSeat18" title="Loca 18" alt="Loca 18" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,321,580,368" href="/SelectBlock/SelectSeat19" title="Loca 19" alt="Loca 19" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,275,580,321" href="/SelectBlock/SelectSeat20" title="Loca 20" alt="Loca 20" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,228,580,275" href="/SelectBlock/SelectSeat21" title="Loca 21" alt="Loca 21" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,181,580,228" href="/SelectBlock/SelectSeat22" title="Loca 22" alt="Loca 22" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,134,580,181" href="/SelectBlock/SelectSeat23" title="Loca 23" alt="Loca 23" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="546,87,580,134" href="/SelectBlock/SelectSeat24" title="Loca 24" alt="Loca 24" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,415,54,462" href="/SelectBlock/SelectSeat8" title="Loca 8" alt="Loca 8" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,368,54,415" href="/SelectBlock/SelectSeat7" title="Loca 7" alt="Loca 7" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,321,54,368" href="/SelectBlock/SelectSeat6" title="Loca 6" alt="Loca 6" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,275,54,321" href="/SelectBlock/SelectSeat5" title="Loca 5" alt="Loca 5" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,228,54,275" href="/SelectBlock/SelectSeat4" title="Loca 4" alt="Loca 4" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,181,54,228" href="/SelectBlock/SelectSeat3" title="Loca 3" alt="Loca 3" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,134,54,181" href="/SelectBlock/SelectSeat2" title="Loca 2" alt="Loca 2" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
        <area shape="rect" coords="20,87,54,134" href="/SelectBlock/SelectSeat1" title="Loca 1" alt="Loca 1" data-maphilight='{"strokeColor":"542475","strokeWidth":2,"fillColor":"286194","fillOpacity":0.5}' />
    </map>
</div>
@section Styles{
    <style>
        #easyTooltip {
            background: white;
            margin: 0;
            padding: 5px 10px;
            border: 1px solid #CCC;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
            font: 12px/16px "Lucida Grande",Arial,Sans-serif;
            line-height: 16px;
            color: #666;
            z-index: 100;
        }

        .center-margin {
            margin: 0 auto;
        }
    </style>
}
@section Scripts{
    <script src="~/Scripts/jquery.maphilight.min.js"></script>
    <script src="~/Scripts/easyTooltip.js"></script>
    <script src="~/Scripts/jquery.rwdImageMaps.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#venue').maphilight({ strokeColor: 'f08b14', fillOpacity: '0.3' });
            $('map > area').easyTooltip();
            $('img[usemap]').rwdImageMaps();
        });

    </script>
}